* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.nav1 {
  display: flex;
  flex-direction: column;
}

.nav-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: slateblue;
}

.logo {
  width: 100px;
}

.menu-search {
  display: flex;
  /* gap: 10px; */
  /* background-color: salmon; */
}

.menu-search i {
  font-size: 20px;
  /* background-color: saddlebrown; */
  border-left: 2px solid rgb(218, 212, 212);
  padding: 13px 15px;
}

.fa-bars {
  color: rgb(241, 112, 89);
}

.nav1-search {
  color: rgb(196, 193, 193);
}

.yello-nav {
  background-color: violet;
  background-color: yellow;
  padding: 15px;
  font-size: 8px;
  text-align: center;
  margin-top: -4px;
}

.nav2 {
  display: none;
}

.highlights {
  display: grid;
  gap: 10px;
  /* padding: 0 0 5px; */
  /* background-color: salmon; */
}

.highlight1 {
  background-image:
    linear-gradient(to bottom, rgba(128, 128, 128, 0.35), rgba(0, 0, 0, 0.95)),
    url(./Image/Opal-cut.jpg);
}

.highlight2 {
  background-image:
    linear-gradient(to bottom, rgba(128, 128, 128, 0.35), rgba(0, 0, 0, 0.95)),
    url(./Image/AI-security.png);
  margin: 5px 0;
}

.highlight3 {
  background-image:
    linear-gradient(to bottom, rgba(128, 128, 128, 0.35), rgba(0, 0, 0, 0.95)),
    url(./Image/detect.jpg);
}

.highlight1,
.highlight2,
.highlight3 {
  min-height: 305px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 15px;
}

.highlight1 h2,
.highlight2 h2,
.highlight3 h2 {
  color: white;
  font-weight: 900;
  font-size: 22px;
}

.highlight1 p,
.highlight2 p,
.highlight3 p {
  color: rgb(196, 191, 191);
}

.highlight1 span,
.highlight2 span,
.highlight3 span {
  display: flex;
  gap: 10px;
  padding: 5px 0;
}

.highlight1 p i,
.highlight2 p i,
.highlight3 p i {
  margin-right: 5px;
}

@media (min-width: 768px) {
  .nav1 {
    display: none;
  }

  .nav2 {
    display: block;
    background-color: black;
  }

  .nav2-first {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 0;
    margin: 0 auto;
    width: 97%;
  }

  .nav2-ful,
  .nav2-sul {
    display: flex;
    gap: 10px;
    /* background-color: saddlebrown; */
  }

  .nav2-ful li,
  .nav2-sul li {
    list-style: none;
  }

  .nav2-ful a,
  .nav2-sul a {
    text-decoration: none;
    font-size: 14px;
    color: rgb(196, 193, 193);
  }

  .nav2-second {
    background-color: white;
  }

  .nav2-secul {
    display: flex;
    gap: 10px;
  }

  .nav2-secul li {
    list-style: none;
  }

  .nav2-secul a {
    text-decoration: none;
    font-size: 14px;
    color: rgb(196, 193, 193);
  }

  .nav2-second .test {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 97%;
    color: rgb(196, 193, 193);
  }

  .sech2 {
    padding: 10px 0 10px 20px;
    border-left: 2px solid rgb(218, 212, 212);
  }

  .nav2-yello {
    background-color: yellow;
    font-size: 10px;
    padding: 4px 0;
  }

  .nav2-yello h3 {
    margin: 0 auto;
    width: 97%;
  }
}
